@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/form.css" />

<div class="form-container">
    <h2>Register</h2>
    <form method="post" asp-page-handler="Post">
        <label asp-for="Username"></label>
        <input asp-for="Username" required/>
        <span asp-validation-for="Username" class="text-danger"></span>

        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" required/>
        <span asp-validation-for="Password" class="text-danger"></span>
        <br />
        <label asp-for="ConfirmPassword"></label>
        <input type="password" asp-for="ConfirmPassword" required/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <em><a href="/Login">Login here</a></em></p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
